*{
    padding: 0;
    margin: 0;
    box-sizing:0;
}
.card-book{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: black;   
    box-shadow: 2px 2px 10px gray;
    border-radius: 10px;
    margin:4vw;
    padding: 4vh;
}