*{
    padding: 0;
    margin: 0;
    box-sizing:0;
}
.CreateBook{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    max-width: 100vw;
    min-height: 100vh;

}
.btn-submit{
    background-color: #FF0098;
    color:white
}

.btn-show-books{
    background: #17a2b8;
    color:white
}